

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
            .jumbotron {
                padding: 0.5em 0.6em;
            }
    
           
    
            form.example input[type=text] {
                padding: 10px;
                font-size: 17px;
                border: 1px solid grey;
                float: left;
                width: 80%;
                background: #f1f1f1;
            }
    
            form.example button {
                float: left;
                width: 10%;
                padding: 10px;
                background: #2196F3;
                color: white;
                font-size: 17px;
                border: 1px solid grey;
                border-left: none;
                cursor: pointer;
            }
    
            form.example button:hover {
                background: #0b7dda;
            }
    
            form.example::after {
                content: "";
                clear: both;
                display: table;
            }
    
            h2 {
                color: white;
            }
        </style>
</head>

<body>
    <%- include('partials/header') %>
    <!-- <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
        <div class="container">
            <h1 class="display-1">Nature's Palette</h1>
        </div>
    </div> -->

    <div class="container text-muted mt-5">

        <div class="row " style="display:flex; justify-content: center">
            <div class="col-md-6  order-md-3">
            <div class="alert alert-danger mb-3">
                    <div class="card-header"><h5>Access denied</h5></div>
                    <div class="card-block">
                      <!-- <p class="card-text">You will be advised if we find corrupted files.</p> -->
                    </div>
            </div>
            <a href="/auth/login" type="back" class="btn btn-default">Login</a>
       
    </div><!-- end .container -->
    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   
</body>
</html>
