

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>
 .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: #ffffff;
            padding: 0 1.5rem;
        }
 .jumbotron {
    padding: 0.5em 0.6em;
        }
</style>  
</head>
  <body>
   <header class="main-header">
    <!-- navbar -->
    <nav class="navbar navbar-toggleable-md bg-info navbar-inverse">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/search">Search</a>
                    <a class="nav-item nav-link" href="submission">Upload</a>
                    <a class="nav-item nav-link" href="join">Join</a>
                    <a class="nav-item nav-link" href="about-us">About Us</a>
                    <a class="nav-item nav-link" href="help">Help</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
        <div class="container">
            <h1 class="display-1">Nature's Palette</h1>
        </div>
    </div>

    <div class="container text-muted">

        <!-- cards -->

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/ara.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Search</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/frog.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Join</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/hello.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Upload Data</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            
        </div>
        
                <!-- navs -->

                <h2 class="display-4 py-5 mt-5 text-center">Why Use Nature's Palette</h2>

                <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-block">
                              <h5 class="card-title">A repository that ....</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-block">
                              <h5 class="card-title">Counts</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>
                        </div>
                      </div>
    </div><!-- end .container -->
    <div class="row"> <p></p></div>
    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   </header>  
</body>
</html>
